<footer class="site-footer column-holder">
    <p>Caput sapientiae est reverentia Domini</p>
    <address class="address-info" itemscope itemtype="http://data-vocabulary.org/Organization">
        <p>
            <span itemprop="name">
                <a href="//www.gsvnet.nl/" itemprop="url">Gereformeerde Studenten Vereniging</a>
            </span>.
            <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                <span itemprop="street-address">Hereweg 40</span>,
                <span itemprop="locality">Groningen</span>.
                <meta itemprop="region" content="Groningen" />
                <meta itemprop="country-name" content="Nederland" />
            </span>
            <a href="{{ site.github.url }}/de-gsv/contact.html" title="Contact">Contactgegevens</a>
        </p>
        <meta itemprop="latitude" content="53.2093731" />
        <meta itemprop="longitude" content="6.5723083" />
    </address>
    <p><small><a rel="nofollow" href="https://github.com/haampie/gsv/edit/master/{{ page.path }}">Verbeter deze pagina</a></small></p>
</footer>