<nav class="nav-bar">
    <div class="nav-bar-extras">
        <button id="navbar-toggler" class="nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <h1 class="logo"><a class="logo-link i-gsv-top" href="/">
        <span>Gereformeerde Studentenvereniging Groningen</span>
    </a></h1>

    
    <ul id="main-menu" class="nav-bar-links">
        {% assign navurl = page.url | remove: 'index.html' %}
        {% for item in include.nav %}
            {% assign active = false %}
            {% for sub in item.subitems %}{% if sub.url == navurl %}
              {% assign active = true %}
            {% endif %}{% endfor %}
            <li class="top-level-menuitem{% if active or item.url == navurl %} active-menu{% endif %}{% if item.subitems %} has-sub-menu{% endif %}">
                <a class="top-level-link" href="{{ site.github.url }}{{ item.url }}">
                    {{ item.text }}
                </a>

                {% if item.subitems %}
                    <span class="top-caret"><i class="caret"></i></span>
                    <ul class="sub-level-menu">
                        {% for sub in item.subitems %}
                            <li>
                                <a class="sub-level-link" href="{{ site.github.url }}{{ sub.url }}">{{ sub.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>

{% assign active_sub_menu =  %}
{% for item in include.nav %}
    {% if item.url == navurl %}
        {% assign active_sub_menu = item.subitems %}
    {% endif %}
    {% for sub in item.subitems %}
        {% if sub.url == navurl %}
            {% assign active_sub_menu = item.subitems %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if active_sub_menu %}
<nav class="extra-submenu-nav">
    <ul class="extra-submenu">
        {% for sub in active_sub_menu %}
        <li class="top-level-menuitem{% if sub.url == navurl %} active{% endif%}">
            <a class="top-level-link" href="{{ site.github.url }}{{ sub.url }}">{{ sub.text }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
