<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: GSVnet }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ page.title | default: GSVnet }}</h1>
    </section>
    <section class="main-content">
      {{ content }}
    </section>

    <footer class="main-content">
      <small>
        <a rel="nofollow" href="https://github.com/haampie/gsv/edit/master/{{ page.path }}">Verbeter deze pagina</a>
      </small>
    </footer>
  </body>
</html>